<header class="site-header" role="banner">

  <div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-link" href="/about">About</a></li>
            <li><a class="navbar-link" href="/blog">Blog</a></li>
            <li><a class="navbar-link" href="mailto:{{ site.email }}">Contact</a></li>
            <li><span class="devicons devicons-github_badge"></span></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
