<header class="site-header" role="banner">

  <div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-link" href="#">About</a></li>
            <li><a class="navbar-link" href="/blog">Blog</a></li>
            <li><a class="navbar-link" href="mailto:{{ site.email }}">Contact</a></li>
            <li><span class="devicons devicons-github_badge"></span></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="profile-banner">
    <div class="container">
      <div class="content">
        <div class="image-block">
          <img class="profile-pic" src="/assets/profile.jpg" alt="profile" />
        </div>
        <div class="caption-text">
          <h2> Luke Webster </h2>
          <h4>Full-stack Junior Developer</h4>
          <span>Working with Ruby, Rails, Javascript, Node.js, PostgreSQL and more</span>
        </div>
      </div>
    </div>
  </div>


</header>
