<header class="site-header" role="banner">

  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">Luke Webster</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/">About</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="mailto: luke.webster86@gmail.com">Contact</a></li>
            <li><a href="https://github.com/lukew244"><span class="devicons devicons-github_badge"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </div>

  <div class="profile-banner">
    <div class="container">
      <div class="content">
        <div class="image-block">
          <img class="profile-pic" src="/assets/profile.jpg" alt="profile" />
        </div>
        <div class="caption-text">
          <h2> Luke Webster </h2>
          <h4>Full-stack Junior Developer</h4>
          <span>Working with Ruby, Rails, Javascript, Node.js, PostgreSQL and more</span>
        </div>
      </div>
    </div>
  </div>


</header>
